<div class="row">
  <div class="colxs-12">
    <img src="" alt="" class="img-fluid">
  </div>
</div>
<div class="row">
  <div class="colxs-12">
    <h3>Movie Name</h3>
  </div>
</div>
<div class="row">
  <div class="colxs-12">
    <div class="btn-group">
      <button class="btn btn-primary dropdown-toggle">Manage Movie <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a href="#">Edit Movie</a></li>
        <li><a href="#">Delete Movie</a></li>
      </ul>
    </div>
  </div>
</div>
